#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# The launchpad build environment sets V=1 in the
# environment by default, which conflicts with
# this package's tests (LP: #1981341).
undefine V

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_test:
	@echo "Skipping upstream tests in Debian package build"

override_dh_python3:
	dh_python3
	perl -0pi -e 's/python3-pydantic-core \(>= [^)]+\), python3-pydantic-core \(<< [^)]+\)/python3-pydantic-core (>= 2.27.2), python3-pydantic-core (<< 2.42)/g' debian/python3-pydantic.substvars

override_dh_installexamples:
	dh_installexamples docs/examples/*
