#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# The launchpad build environment sets V=1 in the
# environment by default, which conflicts with
# this package's tests (LP: #1981341).
undefine V

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
	mkdir -p debian/.core-wheel
	cd pydantic-core && python3 -m build --skip-dependency-check --no-isolation --wheel --outdir ../debian/.core-wheel

override_dh_auto_install:
	dh_auto_install --destdir=debian/python3-pydantic
	mkdir -p debian/python3-pydantic-core
	python3 -m installer --destdir=debian/python3-pydantic-core debian/.core-wheel/pydantic_core-*.whl

override_dh_auto_test:
	@echo "Skipping upstream tests in Debian package build"

override_dh_python3:
	dh_python3
	perl -0pi -e 's/python3-pydantic-core \(>= [^)]+\), python3-pydantic-core \(<< [^)]+\)/python3-pydantic-core/g' debian/python3-pydantic.substvars

override_dh_installexamples:
	dh_installexamples docs/examples/*
